apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
  labels: 
    {{- include "labels" . | nindent 4 }}
data:
  etrip.json: |
    {{- toJson .Values.etrip.config | nindent 4 }}
  {{- if .Values.b2b.enabled }}
  b2b.json: |
    {{- toJson .Values.b2b.config | nindent 4 }}
  {{- end }}
  supervisor.conf: |
    [supervisord]
    user=root

    [program:fpm]
    user = root
    command = php-fpm8 -y /config/fpm.ini
    autorestart = true
    startretries = 5
    stopwaitsecs = 15

    [program:nginx]
    command = nginx -c /config/nginx.conf
    autorestart = true
    startretires = 5
    stopwaitsecs = 15
  etrip-nginx.conf: |
    user nginx;
    worker_processes {{ .Values.etrip.nginx.workers | default 1 }};
    error_log /dev/stderr warn;
    daemon off;
    events {}
    http {
      include /etc/nginx/mime.types;
      server_tokens off;
      sendfile on;
      tcp_nopush on;
      access_log /proc/1/fd/1 combined;
      set_real_ip_from 0.0.0.0/0;
      real_ip_header X-Forwarded-For;

      {{- if ne (len .Values.etrip.passwords) 0 }}
      geo $trusted { 
        default 0;
        {{- range $value := .Values.etrip.trusted_ips }}
        {{ $value }} 1;
        {{- end }}
        {{- range $value := .Values.etrip.other_trusted_ips }}
        {{ $value }} 1;
        {{- end }}
      }
      {{- end }}

      map $request_uri $slow { 
        default 0; 
        {{- range $value := .Values.etrip.slow_urls }}
        {{ $value }} 1;
        {{- end }}
        {{- range $value := .Values.etrip.other_slow_urls }}
        {{ $value }} 2;
        {{- end }}
      }

      map $remote_user $webservice { 
        default webservice;
        {{- range $value := .Values.etrip.priority_api_users }}
        {{ $value }} webservice_prio;
        {{- end }}
      }

      upstream webapp {
          server localhost:{{ .Values.etrip.fpm.main.port }} max_fails=64 fail_timeout=1s;
      }

      upstream webservice {
          server localhost:{{ .Values.etrip.fpm.ws.port }} max_fails=64 fail_timeout=1s;
      }

      upstream webservice_prio {
          server localhost:{{ .Values.etrip.fpm.ws_prio.port }} max_fails=64 fail_timeout=1s;
      }

      upstream background {
          server localhost:{{ .Values.etrip.fpm.slow.port }} max_fails=64 fail_timeout=1s;
      }

      {{- if .Values.b2b.enabled }}
      upstream b2b {
          server localhost:{{ .Values.etrip.fpm.b2b.port }} max_fails=64 fail_timeout=1s;
      }
      {{- end }}

      server {
          listen *:80;
          server_name localhost;
          root /var/www/localhost/webapp;
          location @404 { internal; }
          index index.php;
          
          {{- if ne (len .Values.etrip.passwords) 0 }}
          set $auth_realm "etrip backend";
          if ($trusted != 0) {
              set $auth_realm off;
          }
          auth_basic $auth_realm;
          auth_basic_user_file /config/htpasswd;
          {{- end }}

          fastcgi_split_path_info ^(.+\.php)(.*)$;
          fastcgi_index index.php;
          fastcgi_intercept_errors off;
          error_page 404 @404;
          include /etc/nginx/fastcgi.conf;

          location @slow {
              fastcgi_read_timeout 300s;
              fastcgi_connect_timeout 300s;
              fastcgi_send_timeout 300s; 
              fastcgi_pass background;
          }

          {{- if .Values.b2b.enabled }}
          location /server {
              root /var/www/localhost/b2b;
              fastcgi_split_path_info ^/server(.+\.php)(.*)$;
              location ~ \.php {
                fastcgi_pass b2b;
              }
          }
          {{- end }}

          location / {
            location ~ \.php {
                error_page 418 = @slow;
                fastcgi_pass webapp;

                {{- if ne (len .Values.etrip.passwords) 0 }}
                location ~ ^/(wscsv|file)\.php {
                    auth_basic off;
                    fastcgi_pass webapp;
                }

                location ~ ^/(ws|json)\.php {
                    auth_basic off;
                    fastcgi_pass $webservice;
                }
                {{- end }}

                if ($slow = 1) {
                    return 418;
                }
            }
          }

          location ~ ^/(status|ping)$ {
              fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
              fastcgi_index index.php;
              include /etc/nginx/fastcgi_params;
              fastcgi_pass webapp;
          }
      }

    }
  {{- if ne (len .Values.etrip.passwords) 0 }}
  htpasswd: |
    {{- range $key, $val := .Values.etrip.passwords }}
    {{$key}}:{{$val}}
    {{- end }}
  {{- end }}
  etrip-fpm.ini: |
    [global]
    daemonize = no

    {{- range $key, $val := .Values.etrip.fpm }}
    {{- if not ($val.disabled) }}

    [fpm-{{$key}}]
    listen = {{ $val.port }}
    user = nginx
    group = nginx
    pm = {{ $val.mode | default "dynamic" }}
    pm.max_children = {{ $val.max }}
    pm.start_servers = {{ $val.start }}
    pm.min_spare_servers = {{ $val.low }}
    pm.max_spare_servers = {{ $val.high }}
    ping.path = /ping
    request_terminate_timeout = 300
    clear_env = no
    {{- if $.Values.etrip.use_redis }}
    php_value[session.save_handler] = redis
    php_value[session.save_path] = tcp://{{ $.Release.Name }}-redis:6379?auth%3D${REDIS_SECRET}
    {{- end }}
    {{- with $val.phpValues -}}
    {{- range $pkey, $pval := . }}
    php_value[{{$pkey}}] = {{$pval}}
    {{- end }}{{end}}
    {{- with $val.phpAdminValues -}}
    {{- range $pkey, $pval := . }}
    php_admin_value[{{$pkey}}] = {{$pval}}
    {{- end }}{{end}}
    {{- end }}
    {{- end }}
  {{- if .Values.frontends.enabled }}
  frontends-nginx.conf: |
    user nginx;
    worker_processes 1;
    error_log /dev/stderr warn;
    pid /var/run/nginx.pid;
    daemon off;
    events {
      worker_connections  1024;
    }

    http {
      include /etc/nginx/mime.types;
      access_log  /dev/stdout combined;
      sendfile        on;
      tcp_nopush     on;

      set_real_ip_from 0.0.0.0/0;
      real_ip_header X-Forwarded-For;
      real_ip_recursive on;

      {{- range $idx, $key := .Values.frontends.endpoints }}
      server {
        listen *:{{ add 82 $idx }};
        server_name ~^.*$;

        root /frontends/{{ $key }};

        location @404 { internal; }

        index index.php;

        location ~ \.php {
          fastcgi_split_path_info ^(.+\.php)(/.+)$;
          fastcgi_index index.php;
          fastcgi_intercept_errors off;
          error_page 404 @404;
          include /etc/nginx/fastcgi.conf;
          
          {{- if $.Values.etrip.fpm.frontends }}
          fastcgi_pass localhost:{{ $.Values.etrip.fpm.frontends.port }};
          {{- else }}
          fastcgi_pass localhost:{{ $.Values.etrip.fpm.main.port }};
          {{- end }}
        }
      }
      {{- end }}
    }
  {{- end }}
  {{- if .Values.api.enabled }}
  api.ini: |
    [app:main]
    use = egg:etrip

    pyramid.reload_templates = false
    pyramid.debug_authorization = false
    pyramid.debug_notfound = false
    pyramid.debug_routematch = false
    pyramid.default_locale_name = en

    sqlalchemy.url = postgresql+psycopg2://$PG_USER:$PG_PASS@$PG_HOST/$PG_DBNAME
    retry.attempts = 3

    [pshell]
    setup = etrip.pshell.setup

    [alembic]
    script_location = %(here)s/alembic
    file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s

    [server:main]
    use = egg:waitress#main
    listen = 0.0.0.0:6543

    [loggers]
    keys = root, etrip, sqlalchemy

    [handlers]
    keys = console

    [formatters]
    keys = generic

    [logger_root]
    level = INFO
    handlers = console

    [logger_etrip]
    level = DEBUG
    handlers =
    qualname = etrip

    [logger_sqlalchemy]
    level = WARN
    handlers =
    qualname = sqlalchemy.engine

    [handler_console]
    class = StreamHandler
    args = (sys.stderr,)
    level = NOTSET
    formatter = generic

    [formatter_generic]
    format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
  {{- end}}
