{{- define "etripCronjob" }}
{{- $db := mergeOverwrite .global.Values.db ( .global.Values.db.operator_install | default dict ) -}}
{{- $clusterName := include "clusterName" .global -}}
kind: CronJob
apiVersion: batch/v1
metadata:
  name: {{ .global.Release.Name }}-cron-{{ .cron.name  }}
  namespace: {{ .global.Release.Namespace }}
  labels:
    {{- include "labels" .global | nindent 4 }}
spec:
  schedule: {{ .cron.schedule | quote }}
  successfulJobsHistoryLimit: {{ .cron.doneHistory | default 3 }}
  failedJobsHistoryLimit: {{ .cron.failedHistory | default 1 }}
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels:
        cronjob-name: {{ .cron.name }}
        {{- include "selectorLabels" .global | nindent 8 }}
    spec:
      template:
        metadata:
          labels:
            cronjob-name: {{ .cron.name }}
            {{- include "selectorLabels" .global | nindent 12 }}
        spec:
          restartPolicy: Never
          securityContext:
            fsGroup: 33
          containers:
          - name: job
            {{- include "etripImage" .global | nindent 12 }}
            volumeMounts:
            - mountPath: /config
              name: config
              subPath: etrip
            - mountPath: /secrets
              name: secrets
              readOnly: true
            env:
            - name: ETRIP_CONFIG
              value: /config
            - name: ETRIP_DSN
              value: >-
                user=etrip
                host={{ .global.Release.Name }}-db-rw
                sslcert=/secrets/app-tls/postgresql.crt
                sslkey=/secrets/app-tls/postgresql.key
                sslrootcert=/secrets/app-tls/root.crt
            - name: ETRIP_DSN_RO
              value: >-
                user=etrip
                host={{ .global.Release.Name }}-db-r
                sslcert=/secrets/app-tls/postgresql.crt
                sslkey=/secrets/app-tls/postgresql.key
                sslrootcert=/secrets/app-tls/root.crt
            {{- with .global.Values.etrip.searchlogs -}}{{- if .enabled }}
            {{- if not .certificate }}
            - name: SEARCHLOGS_DBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .passwordSecret | default (printf "%s.%s.credentials" .username .host) }}
                  key: password
            {{- end }}
            - name: ETRIP_SEARCHLOGS_DSN
              value: >-
                user={{ .username }}
                dbname={{ .dbname }}
                host={{ .host }}
                {{- if not .certificate }}
                password=$(SEARCHLOGS_DBPASSWORD)
                {{- else }}
                sslcert=/secrets/searchlogs-tls/postgresql.crt
                sslkey=/secrets/searchlogs-tls/postgresql.key
                sslrootcert=/secrets/searchlogs-tls/root.crt
                {{- end }}
            - name: ETRIP_SEARCHLOGS_TABLE
              value: {{ .table | default ($.global.Release.Name
                | trimPrefix (print $.global.Chart.Name "-")) 
                | replace "-" "_" }}
            {{- end }}{{- end }}
            - name: ETRIP_LOG_MODE
              value: {{ .global.Values.elogger.enabled | ternary "elogger-ng" "null" }}
            {{- if or .global.Values.etripng.enabled .global.Values.elogger.enabled }}
            - name: REDIS_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .global.Release.Name }}-secrets
                  key: session
            - name: REDIS_URL
              value: redis://user:$(REDIS_SECRET)@{{ .global.Release.Name }}-redis:6379/
            {{- end }}
            {{- if .cron.env }}
            {{- range .cron.env }}
            - name: {{ .key }}
              value: {{ .value }}
            {{- end }}
            {{- end }}
            {{- if .global.Values.smtpgate.enabled }}
            - name: ETRIP_SMTP_HOST
              value: {{ .global.Release.Name }}-service
            {{- end }}
            {{- with .cron.resources }}
            resources:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            command: 
              - /bin/sh
              - -c
              - |
                {{- .cron.command | toString | nindent 16 }}
          volumes:
          - name: config
            configMap:
              name: {{ .global.Release.Name }}-config
              items:
              - key: etrip.json
                path: etrip/config.json
              {{- with $b2bkey := .b2bKey }}
              - key: b2b-{{$b2bkey}}.json
                path: etrip/b2b.json
              {{- end }}
          - name: secrets
            projected:
              sources:
              - secret:
                  name: {{ .global.Release.Name }}-db-app-tls
                  items:
                  - key: tls.crt
                    path: app-tls/postgresql.crt
                  - key: tls.key
                    path: app-tls/postgresql.key
                    mode: 416
                  - key: ca.crt
                    path: app-tls/root.crt
              {{- with .global.Values.etrip.searchlogs }}
              {{- if and .enabled .certificate }}
              - secret:
                  name: {{ .certificate }}
                  items:
                  - key: tls.crt
                    path: searchlogs-tls/postgresql.crt
                  - key: tls.key
                    path: searchlogs-tls/postgresql.key
                    mode: 416
                  - key: ca.crt
                    path: searchlogs-tls/root.crt
              {{- end }}{{ end }}
{{- end }}
{{- range .Values.cron -}}
{{- include "etripCronjob" (dict "cron" . "global" $ ) }}
---
{{- end }}
{{- range $b2bkey, $b2bInstance := .Values.b2b -}}
{{- $b2bInstance = mergeOverwrite (deepCopy $.Values.b2b_defaults) $b2bInstance }}
{{- if not $b2bInstance.cron_disable }}
{{- range $b2bInstance.cron -}}
{{- include "etripCronjob" (dict "cron" . "global" $ "b2bKey" $b2bkey ) }}
---
{{- end }}
{{- end }}
{{- end }}
