{{- if .Values.web.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.web.replicas }}
  selector:
    matchLabels: {{- include "selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "labels" . | nindent 8 }}
    spec:
      containers:
      - name: elogger
        image: {{ include "image" .Values.web.image }}
        {{- with .Values.web.image.pullPolicy }}
        imagePullPolicy: {{ . }}
        {{- end }}
        resources: {{ toYaml .Values.web.resources | nindent 10 }}
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        env:
        - name: DB_PASS
          valueFrom:
            secretKeyRef: 
              name: {{ .Release.Name }}-db-app
              key: password
        - name: DB_DSN
          value: "host={{ .Release.Name }}-db-rw port=5432 dbname=elogger user=elogger sslmode=disable password=$(DB_PASS)"
        - name: DB_DSN_RO
          value: "host={{ .Release.Name }}-db-r port=5432 dbname=elogger user=elogger sslmode=disable password=$(DB_PASS)"
{{- end }}